

.profilePage,
.camera-page {
  text-align: center;
  background-color: #050707;
  color:rgb(223, 219, 219);
}

.avatar-spaceholder{
  width:60%;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 5%;
}

.camera-icon{
  width:30px;
  height:30px;
  margin-left: -30px;
}
.profilePage-btns{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:80%;
  margin-left: 10%;
  margin-top: 30%;
  padding-bottom: 25%;
}

.profilePage-btns button{
  height: 60px;
  margin:5px;
  background-color: #181c1d;
  border-radius: 30px;
  color:rgb(231, 226, 226);
  font-size: 1.2em;
  box-shadow: 1px solid lightslategrey;

}

#player {
  width: 100%;

}


#player, #canvas {
  transform: scale(-1, 1);
}

.camera-btns{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70%;
  margin-bottom: 5%;
  width:100%;
}
.camera-btns button
{
  height:80px;
  width:100px;
  background-color: rgb(24, 23, 23);
  color:rgb(224, 220, 220);
}
