body{
  background-color: #f3eaea;
}

.App {
  text-align: center;
  color:rgb(20, 19, 19);
}

.profilePage-btns{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:80%;
  margin-left: 10%;
  margin-top: 10%;
}

.profilePage-btns button{
  height: 60px;
  margin:5px;
  background-color: #181c1d;
  border-radius: 30px;
  color:rgb(231, 226, 226);
  font-size: 1.2em;
  box-shadow: 1px solid lightslategrey;

}

#player {
  width: 50%;
  border-radius: 50%;
  margin-left: 25%;
}


#player, #canvas {
  transform: scale(-1, 1);
}

