body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
* {box-sizing: border-box;}
h1 {
    color: yellow;
   
}


.form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 500px;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
    margin-top: -60px;
    font-size: .95em;
   

  }
  /* form label{
    line-height: 150%;
    margin: 5px 10px 5px 15px;
    color: #fff; 

  } */
  .form input {
    display: block;
    width: 100%;
    border-radius: 25px;
    border:  black;
    padding: 15px;
    background-color: rgba(120, 109, 109, 0.399);
    color: #fff;
  
    

  }
  .form button {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    border-radius: 25px;
    border:  black;
    padding: 15px;
    background-color:  yellow;
    color: green;
    font-size: .95em;
  }
  .form button:hover {
    background-color: rgb(225, 89, 65);
    color: white;
  }
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form input {
      margin: 0;
    }
  
    .form {
      flex-direction: column;
      align-items: stretch;
    }
  }